/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: "Bridge Head Con Medium", sans-serif;
}

/* Easter-Egg */
#ascii-art {
display: none;
white-space: pre;
font-family: monospace;
}

a {
  text-decoration: underline;
}

/* Custom color variables // Muss verbessert werden */
:root {
  --white: white;
  --black: black;
  --background-blue: #000000;
  --Red: rgb(255, 8, 0);
}


/* Dark Mode Styles */
.dark-mode {
  background-color: #000000;
  color: #fff;
}

.dark-mode-toggle i.fa-sun {
  color: rgb(0, 0, 0);
}

/* Navbar */
.navbar {
  background: #00000000;
  padding: 20px 0;
}

/* Header Container Menu */
.top_navigation_container,
.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: #ffffff; /* Light mode background */
  color: #000000; /* Light mode text color */
  position: fixed;
  z-index: 999;
  height: 56px;
  padding: 0 16px;
  left: 0px;
  top: 0px;
}



/* Header Container Mobile */
@media screen and (max-width: 771px) {
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #ffffff; /* Light mode background */
    color: #000000; /* Light mode text color */
    position: fixed;
    z-index: 999;
    height: 56px;
    padding: 0 16px;
    left: 0px;
    top: 0px;
  }
}

/* Header Container tablet  */
@media screen and (max-width: 991px) {
  .container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #ffffff; /* Light mode background */
    color: #000000; /* Light mode text color */
    position: fixed;
    z-index: 999;
    height: 56px;
    padding: 0 16px;
    left: 0px;
    top: 0px;
  }
}



/* Beispiel Globales CSS */
.dark-mode-toggle {
  /* Standardstile */
  cursor: auto;
  text-align: left;
  position: static;
  transform: none;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 22px;
  text-transform: none;
  text-decoration: none;
  z-index: 999;
  transition: transform 0.3s ease; /* Smooth transition */
  margin-left: 0px;
  margin-right: 150px;
  margin-top: -5px;
}


@media screen and (max-width: 991px) {
  .dark-mode-toggle {
    /* Stile für max-width: 991px */
    cursor: pointer;
    text-align: center;
    position: fixed;
    transform: translateY(-50%);
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 999;
    right: 19px;
    top: 28px;
  }
}

@media screen and (max-width: 771px) {
  .dark-mode-toggle {
    /* Stile für max-width: 771px */
    cursor: pointer;
    text-align: center;
    position: fixed;
    transform: translateY(-50%);
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 999;
    right: -69px;
    top: 28px;
  }
}



/* Header Container Mobile / darkmode funktion */
.dark-mode .container {
  background: #000000; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
}

.logo {
  position: fixed;
  padding-bottom: 0px;
  z-index: 999;
  transition: transform 0.3s ease; /* Smooth transition */
}

.logo:hover {
  transform: scale(1.2); /* Scale up the element */
}

@media screen and (max-width: 701px) {
  .logo {
    position: fixed;
    padding-bottom: 0px;
    z-index: 999;
    margin-left: 12px;
  }
}

@media screen and (max-width: 991px) {
  .logo {
    position: fixed;
    padding-bottom: 0px;
    z-index: 999;
    margin-left: 0px;
  }
}


.logo img {
  max-height: 18px;
}
a {
  font-family: 'Arial', serif;
  font-size: 12px;
  color: #8c8c8e;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  margin: 0 0px;
}

/* Menu */
.menu_nav_links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.menu_nav_links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s;
  position: relative;
}

.menu_nav_links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s;
}

.menu_nav_links a:hover {
  color: #000000;
}

.menu_nav_links a:hover::after {
  background-color: #000000;
}

/* Hamburger Icon */
.menu_control {
  position: relative;
  top: 0;
  cursor: pointer;
}

.menu_control::before {
  content: "\2630"; /* Unicode for hamburger icon */
  font-size: 30px;
  color: rgb(0, 0, 0);
}

/* Dark Mode Styles for Hamburger Icon */
.dark-mode .menu_control::before {
  color: rgb(255, 255, 255);
}

/* Animation */
.fade-zoom {
  animation: fadeZoom 0.4s ease-in-out;
}

@keyframes fadeZoom {
  0% {
      opacity: 0;
      transform: scale(0.8);
  }
  100% {
      opacity: 1;
      transform: scale(1.2);
  }
}

/* 2 Themes Install Styles */
.menu {
  width: 100%;
  height: 0vh;
  display: flex;
  margin-top: -660px;
}

.menu-left {
  position: fixed;
  width: 100%;
  height: 165vh;
  background: #ffffff; /* Light mode background */
  color: #000000; /* Light mode text color */
  display: flex;
  justify-content: center;
  align-items: center;
  left: -100%;
  transition: left 0.5s ease;
  z-index: 999;
}

/* Dark Mode Styles for Menu */
.dark-mode .menu-left {
  background: #000000; /* Dark mode background */
  color: #ffffff; /* Dark mode text color */
}

/* Open Menu Styles */
.menu-left.open {
  left: 0;
}

body.menu-open {
  overflow: hidden;
}



/* Menu Links Font PC*/
.menu-link a {
  text-decoration: none;
  color: #000000;
  font-size: 60px;
  z-index: 999;
  position: relative;
  font-family: 'Montserrat';
}

/* Hover effect for menu-links */
.menu-links a::after {
  content: '';
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -2px;
  width: 0;
  height: 4px;
  background-color: currentColor;
  transition: width 0.4s ease, left 0.4s ease, right 0.4s ease;
}

.menu-links a:hover::after {
  width: 60%; /* Adjust the width to be shorter */
  left: 15%;  /* Center the shorter line */
  right: 15%; /* Center the shorter line */
}

/* Dark mode state for menu-links */
.dark-mode .menu-links a {
  color: #ffffff;
}

.menu-link a span {
  font-family: 'Montserrat';
  font-size: 24px;
}




/* Menu text size for mobile responsiveness */
@media screen and (max-width: 901px) {
  .menu-link a {
      text-decoration: none;
      font-size: 42px;
      z-index: 999;
      position: relative;
      text-align: center;
      font-family: 'Montserrat';
      line-height: 34px;
  }
    
  .menu-link a span {
      font-family: 'Montserrat';
      font-size: 12px;
  }
}

/* Menu text size for tablet responsiveness */
@media screen and (max-width: 701px) {
  .menu-link a {
      text-decoration: none;
      font-size: 38px;
      z-index: 999;
      position: relative;
      text-align: center;
      font-family: 'Montserrat';
      line-height: 40px;
  }

  .menu-link a span {
      font-family: 'Montserrat';
      font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  .projects_menu_container,
  .container-cards.project-menu,
  .projects_menu_section {
      z-index: 1; /* Lowered z-index value */
  }
}

@media screen and (max-width: 701px) {
  .projects_menu_container,
  .container-cards.project-menu,
  .projects_menu_section {
      z-index: 3; /* Lowered z-index value */
  }
}

/* Heading-2 Styles */
.heading-2 {
  margin-top: 24px;
  margin-bottom: 24px;
  color: white;
  font-size: 42px;
  padding-bottom: 24px;
  padding-top: 24px;
  text-align: center;
  font-family: 'Bebas_Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Responsive Container */
.container-cards {
  z-index: 2;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}

/* Tablet view */
@media screen and (max-width: 991px) {
  .container-cards {
      z-index: 1;
      width: 100%;
      max-width: 80%;
      margin: 0 auto;
      display: block;
      position: relative;
  }
}

/* Mobile view */
@media screen and (max-width: 767px) {
  .container-cards {
      z-index: 1;
      width: 95%;
      max-width: 100%;
      margin: 0 auto;
      display: block;
      position: relative;
  }
}


/* Hoover effect für den text */
/* Project Poster */
.projects_project_menu_poster {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 8px;
  margin-bottom: 24px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.5);
}

/* Grid system for content container (4x1 row/col) */
.projects_menu_container {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  margin-top: 24px;
}

/* Tablet view */
@media screen and (max-width: 991px) {
  .projects_menu_container {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-gap: 24px;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
  }
}

/* Mobile view */
@media screen and (max-width: 767px) {
  .projects_menu_container {
      grid-template-columns: repeat(2, 1fr); /* Changed to 2fr for consistent grid */
      grid-auto-rows: auto;
      grid-gap: 24px;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 0 10px; /* Adjusted padding for better alignment */
      height: auto; /* Changed height to auto */
  }
}

/* Project Menu Container */
.container.project-menu {
  margin-bottom: 16px;
}

/* Project Menu Section */
.projects_menu_section {
  margin-bottom: 16px;
  padding-top: 12px;
  position: relative;
}

/* Project Poster Image */
.poster_image {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  border-radius: 7px;
  position: relative;
  transform: none;
}

/* Project Hover Block TEXT VIEW PROJECT */
.project-hover-block {
  z-index: 2;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  line-height: 14px;
  font-size: 13px; /* Default font size */
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Ensures hover events pass through */
}



/* Pseudo-Element for Hover Effect */
.project-hover-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.13s ease;
  pointer-events: none; /* Ensures hover events pass through */
}

/* Hover effect for Project Hover Block */
.projects_project_menu_poster:hover .project-hover-block {
  opacity: 1;
}

/* Hover effect for Pseudo-Element */
.projects_project_menu_poster:hover .project-hover-block::before {
  opacity: 1;
}


/* vorherige menu einstellungen */

@media screen and (max-width: 991px) {
  .menu-left {
      position: fixed;
      width: 100%;
      height: 150vh;
      background: #ffffff; /* Light mode background */
      color: #000000; /* Light mode text color */
      display: flex;
      justify-content: center;
      align-items: center;
      left: -100%;
      transition: left 0.5s ease;
      z-index: 999;
  }

  .menu-left.open {
      left: 0;
  }

  .menu-open {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    margin: 0 5px;
    padding-top: 0px;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 16px;
    margin-right: 49px;
    margin-left: 0px;
    margin-top: 17px;
  }
}


/* Default state for menu-open (light mode) */
.menu-open {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 30px;
  padding: 2rem;
  cursor: pointer;
  font-size: 20px;
  color: #000000;
  margin-left: 0px;
  margin-right: 61px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 18px;
}

/* Dark mode state for menu-open */
.dark-mode .menu-open {
  color: #ffffff;
}


@media screen and (max-width: 701px) {
  .menu-left {
      position: fixed;
      width: 100%;
      height: 180vh;
      background: #ffffff; /* Light mode background */
      color: #000000; /* Light mode text color */
      display: flex;
      justify-content: center;
      align-items: center;
      left: -100%;
      transition: left 0.5s ease;
      z-index: 999;
  }

  .menu-left.open {
      left: 0;
  }


  .menu-open {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    margin: 0 5px;
    padding-top: 0px;
    border-left-width: 0px;
    border-left-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-top: 16px;
    margin-right: 34px;
    margin-left: 0px;
    right: 24px;
  }
}

/*------------------------------------Hamburger icon BEGIN----------- */
/* Dark mode state for Hamburger */
.dark-mode .hamburger {
  color: #ffffff;
}

.dark-mode .spanmenu {
  background-color: #ffffff;
}

.hamburger {
  border-radius: 2px;
  position: absolute;
  top: 50%; /* Platziere den Hamburger vertikal in der Mitte */
  right: 10px; /* Abstand vom rechten Rand des Headers */
  transform: translate(50%, -50%);
  z-index: 999;
  color: #000000;
  transition: transform 0.3s; /* Füge die Transition hier hinzu */
}

.btn {
  position: absolute;
  top: 50%; /* Platziere den Button vertikal in der Mitte */
  right: 117px; /* Abstand vom rechten Rand des Headers */
  transform: translate(50%, -50%);
  width: 40px;
  cursor: pointer;
}

@media screen and (max-width: 771px) {
  .btn {
    position: absolute;
    top: 50%; /* Platziere den Button vertikal in der Mitte */
    right: 30px;
    transform: translate(50%, -50%);
    width: 40px;
    cursor: pointer;
  }
}

.spanmenu {
  display: block;
  width: 85%;
  border-radius: 3px;
  height: 3px;
  background-color: #000000;
  transition: all 0.3s;
  position: relative;
  height: 3px;
}

.spanmenu + .spanmenu {
  margin-top: 3px;
}

.active .spanmenu:nth-child(1) {
  animation: top 0.7s ease forwards;
}

.not-active .spanmenu:nth-child(1) {
  animation: top-2 0.7s ease forwards;
}

.active .spanmenu:nth-child(2) {
  animation: scaled 0.7s ease forwards;
}

.not-active .spanmenu:nth-child(2) {
  animation: scaled-2 0.7s ease forwards;
}

.active .spanmenu:nth-child(3) {
  animation: bottom 0.7s ease forwards;
}

.not-active .spanmenu:nth-child(3) {
  animation: bottom-2 0.7s ease forwards;
}


@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: -4px; /* Adjusted value for smoother animation */
    transform: rotate(0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
  }
  100% {
    top: 5px;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
  }
}

@keyframes top-2 {
  0% {
    top: -4px; /* Adjusted value for smoother animation */
    transform: rotate(45deg);
  }
  50% {
    top: -4px; /* Adjusted value for smoother animation */
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 1px; /* Adjusted value for smoother animation */
    transform: rotate(0);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
  }
  100% {
    bottom: 8px;
    transform: rotate(135deg);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 1px; /* Adjusted value for smoother animation */
    transform: rotate(135deg);
  }
  50% {
    bottom: 1px; /* Adjusted value for smoother animation */
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*------------------------------------Hamburger icon ENDE----------- */

/*------------------------------------Card Single Page BEGIN----------- */

/* Section Project Header */
.section_project_header {
  margin-bottom: 38px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .section_project_header {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {
  .section_project_header {
    margin-bottom: 20px;
  }
}

/* Project Hero Background */
.project-hero1 {
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 30%, #000000), url("/assets/img/poster/poster_7.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: absolute;
}

/* Project Hero Container */
.project-hero_container {
  z-index: 2;
  perspective: 1500px;
  justify-content: flex-start;
  width: 100%;
  max-width: 1080px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12vw;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 991px) {
  .project-hero_container {
    padding-top: 20vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .project-hero_container {
    padding-top: 30vw;
  }
}

/* Project Hero Poster */
.project_hero_poster {
  border-radius: 8px;
  width: 100%;
  max-width: 452px;
  height: auto;
  margin-right: 33px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 991px) {
  .project_hero_poster {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

/* Project Hero Blurb Container */
.project_hero_blurb_container {
  width: 100%;
  margin-left: 10px;
  text-align: left;
}

@media screen and (max-width: 991px) {
  .project_hero_blurb_container {
    margin-left: 0;
  }
}

@media screen and (max-width: 701px) {
  .project_hero_blurb_container {
    width: 87%;
  }
}

/* Headings */
.heading-4 {
  margin-top: 14px;
  margin-bottom: 31px;
}

@media screen and (max-width: 479px) {
  .heading-1 {
    font-size: 28px;
    line-height: 30px;
  }
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

h1 {
  margin-top: 56px;
  margin-bottom: 10px;
  font-family: 'Bebas_Neue';
  font-size: 45px;
  font-weight: 300;
  line-height: 50px;
}

@media screen and (max-width: 991px) {
  h1 {
    margin-top: 0;
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

/* Paragraphs */
p {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Poppins';
}

@media screen and (max-width: 479px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
}

/* Text Links */
.text-link {
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  line-height: 14px;
  font-family: 'Bebas_Neue';
  text-decoration: none;
  transition: color 0.3s;
  display: inline-block;
}

/* Project Poster Image */
.poster_single {
  width: 100%;
  height: 100%;
  max-width: none;
  object-fit: cover;
  border-radius: 8px;
  position: relative;
  transform: none;
}







h5 {
  color: white; /* Hier fehlte das Semikolon */
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}


.section_project_cast {
  margin-bottom: 40px;
  padding-top: 12px;
}


.cast_includes_div {
  flex-wrap: wrap;
  display: flex;
  justify-content: center; /* Hier hinzufügen */
}

.cast_block {
  flex: 0 auto;
  margin-right: 80px;
}

.cast_names {
  font-weight: 600;
}

.Descriptioncontainer {
  z-index: 2;
  width: 100%;
  max-width: 1080px;
  min-height: 50px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 20px;
  display: block;
  position: relative;
}

h2 {
  letter-spacing: 7px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Quicksand, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}



























































/*-------------------- About Section HOME BEGIN----------------- */
/* home section styling */
.home{
  height: 100vh;
  width: 100%;
  background: url("/assets/img/about-me.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 25px;
  color: #ffffff;
}
.home .text-two{
  color: #ffffff;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .text-three{
  font-size: 40px;
  margin: 5px 0;
  color: #ffffff;
}
.home .text-four{
  font-size: 23px;
  margin: 5px 0;
  color: #ffffff;
}
.home .button{
  margin: 14px 0;
  margin-top: 28px;
}
.home .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
}
.home .button button:hover{
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}

/*-------------------- About Section HOME END----------------- */
/*-------------------- About Section Styling BEGIN----------------- */
section{
  padding-top: 40px;
  background-color: #000000;
}
section .content{
  width: 75%;
  margin: 0px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 59px;
}
section .title span{
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  left: 0;
  bottom: 0;
}

.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
  margin-bottom: 80px;
}
section  .topic{
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #ffffff;
}
section .button{
  margin: 16px 0;
}


section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #ffffff;
  color: #000000;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #ffffff;
  background-color: #000000;
  color: #ffffff;
}




/*-------------------- About Section Styling END----------------- */

 
 /*--------------------------------- Footer CSS BEGIN-----------------*/
footer{
  background: #000000;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-top: 40px;
  padding-bottom: 54px;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
/*--------------------------------- Footer CSS END-----------------*/

/*-------------------Responsive About Me Page BEGIN------------------------- */
@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
}

@media (max-width: 500px){
  .home .text-two{
    font-size: 55px;
  }
  .home .text-three{
    font-size: 33px;
  }
}

/*-------------------Responsive About Me Page END------------------------- */
/*-------------------Animated Text Typewriting Effekt BEGIN------------------ */


/*-------------------Animated Text Typewriting Effekt END------------------ */

/*-------------------Social Icons About Me Page BEGIN------------------ */


.media-icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 40px;
  bottom: 40px;
}

.media-icons a {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  opacity: 0.7;
  color: #e2e2e2be;
  transition: all 0.3s ease;
}


.media-icons a:hover{
 opacity: 1;
}

/*-------------------Social Icons About Me Page END------------------ */





