/*-----------------------------------------------------------*/
// src/scss/globals.scss
/*-----------------------------------------------------------*/

// SCSS-Variablen
$purple: #6a0dad; // SCSS-Variable für Lila
$red: #ff0800;    // SCSS-Variable für Rot


/*------- Global CSS root,*,html,body,title,paragraph,title,text -------START */

/* Custom color Root css */
:root {
  --white: white;
  --tertiary: #fff;
  --tertiary-dark: #a9bbd3;
  --secondary: #e31b6d;
  --Red: #ff0800;
  --primary2: #111821;
  --primary-light: #2e4a6f;
  --primary-dark: #223247;
  --card-text: #e31b6d;
  --card-bg: #223247;
  --black: black;
}


/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  cursor: none;
}

a {
  text-decoration: underline;
}


h5 {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h4 {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h3 {

}

h2 {

}

h1 {
  font-family: 'Bebas_Neue';
  font-size: 45px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 10px;
  margin-top: 56px;
}

p {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 26px;
  font-family: 'Poppins';
}


a {
  color: #8c8c8e;
  font-family: 'Arial', serif;
  font-size: 12px;
  letter-spacing: 3px;
  margin: 0 0px;
  text-decoration: none;
  text-transform: uppercase;
}


@media screen and (max-width: 991px) {
  h1 {
    margin-top: 0;
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

@media screen and (max-width: 479px) {
  p {
    font-size: 14px;
    line-height: 24px;
  }
}


//#region Loading Animation
/*------------------------------------------------------------*/
/* Loading Animation Logo Effekt Start                       */
/*-----------------------------------------------------------*/

/* Loading animation container */
.loading-page {
  align-items: center;
  background: linear-gradient(to right, #000000, #000000, #000000);
  color: #191654;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: opacity 1.5s ease, visibility 1.5s ease;
}

/* Klasse, um die Ladeanimation zu verbergen */
.loading-page.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Die Animation des SVG und des Namens bleibt unverändert */


/* Loading animation SVG */
#svg {
  animation: draw 10s ease;
  fill-opacity: 0;
  height: 450px;
  stroke-dasharray: 4500;
  stroke-width: 3px;
  stroke: white;
  width: 450px;
}

@media (max-width: 771px) {
  #svg {
    animation: draw 10s ease;
    fill-opacity: 0;
    height: 250px;
    stroke-dasharray: 4500;
    stroke-width: 3px;
    stroke: white;
    width: 250px;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 4500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Loading animation name container */
.name-container {
  height: 30px;
  overflow: hidden;
  margin-top: -100px;
}

/* Loading animation logo name */
.logo-name {
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 12px;
  margin-left: 20px;
  text-transform: uppercase;
}

/*------------------------------------------------------------*/
/* Loading Animation Logo Effekt Ende                        */
/*----------------------------------------------------------*/
//#endregion


//#region Global Custom Cursor  
/*------------------------------------------------------------*/
/* Global Custom Cursor                                       */
/*------------------------------------------------------------*/
@media (hover: none) or (pointer: coarse) {
  .cursor, .cursor-follower {
      display: none;
  }
}

.cursor {
  position: fixed;
  background-color: #000;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  z-index: 10000;
  transition: transform 0.1s ease, opacity 0.1s ease;
  user-select: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.dark-mode .cursor {
  background-color: #fff;
}

.cursor.active {
  opacity: 0.5;
  transform: translate(-50%, -50%) scale(2);
}

.cursor.hovered {
  opacity: 0.08;
}

.cursor-follower {
  position: fixed;
  border: 2px solid rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: 10000;
  transition: transform 0.1s ease, opacity 0.1s ease, width 0.1s ease, height 0.1s ease;
  user-select: none;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.dark-mode .cursor-follower {
  border: 2px solid rgba(255, 255, 255, 0.8);
}

.cursor-follower.active {
  opacity: 0.7;
  transform: translate(-50%, -50%) scale(1.5);
}

.cursor-follower.hovered {
  opacity: 0.08;
}




/*------------------------------------------------------------*/
/* Global Custom Cursor Ende                                  */
/*------------------------------------------------------------*/
//#endregion
